@font-face {
    font-family: "NotoSansHans Light";
    src: url("fonts/NotoSansHans-Light-Alphabetic.woff2") format("woff");
}

@font-face {
    font-family: "Novecentosanswide Bold";
    src: url("fonts/Novecentosanswide-Bold-webfont.eot");
    src: 
    url("fonts/Novecentosanswide-Bold-webfont.woff") format("woff"),
    url("fonts/Novecentosanswide-Bold-webfont.otf") format("opentype"),
    url("fonts/Novecentosanswide-Bold-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "Novecentosanswide Normal";
    src: url("fonts/Novecentosanswide-Normal-webfont.eot");
    src: 
    url("fonts/Novecentosanswide-Normal-webfont.woff") format("woff"),
    url("fonts/Novecentosanswide-Normal-webfont.otf") format("opentype"),
    url("fonts/Novecentosanswide-Normal-webfont.svg#filename") format("svg");
}

body{
    background: #666666
}

.rarity-0{
    background: #00000044;
    border:1px solid #7fda56
}

.rarity-1{
    background: #00000044;
    border:1px solid #0079fd
}

.rarity-2{
    background: #00000044;
    border:1px solid #a136b2
}

.rarity-3{
    background: #00000044;
    border:1px solid #ff6d02;
}

.rarity-back-0{
    background:#7fda56;
    color:#000000;
}

.rarity-back-1{
    background:#0079fd;
    color:#000000;
}

.rarity-back-2{
    background:#a136b2;
    color:#000000;
}

.rarity-back-3{
    background:#ff6d02;
    color:#000000;
    
}

.shadow-thin{
    box-shadow: 1px 1px 5px #001144AA
}

.tenpull-container{
    background: #000000;
    display:inline-block;
    /* border:1px solid #ffffff; */
    text-align: center;
    vertical-align:top;
    height:230px;
    width:100px;
    margin:3px;
}
.tenpull-number{
    display:inline-block;
    font-size: 30px;
    font-weight: bold;
}

.container{
    background: #000000AA;
    color:#DDDDDD;
}
.nav-tabs .nav-link{
    border-radius: 0px
}

.fg-border{
    border-image: url('../img/extra/resource/edge-border.png') 50 round;
    border-image-slice: 20%;
    border-image-width: 20px 20px;
    
}
.fg-corner{
    border-image: url('../img/extra/resource/edge-corner.png') 50 round;
    border-image-slice: 20%;
    border-image-width: 20px 20px;
    border-image-outset: 1px;
}

.fg-thinfill{
    background-image: url("../img/extra/resource/smallstripefill.png");
    background-repeat: repeat;
}

.fg-bluefill{
    background-image: url("../img/extra/resource/bluefill.png");
    background-repeat: repeat;
}

.fg-itemcontainer{
    width:128px;
    height:128px;
}

.fg-itemQuantityfont{
    color:#ffffff;
    font-weight: 900;
    text-shadow: 1px 1px 4px #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fg-subtitlefont{
    font-weight: 600;
    color:#ffffff;
}
.fg-inline{
    display: inline-block;
}
.fg-header{
    text-align: center;
    font-size: 20px;
}

.fg-mainbox{
    padding:10px;
    /* margin:10px */
}

.fg-raritybox{
    width: 150px;
    height: 40px;
    padding: 2px;
    text-align: center;
}

.fg-raritysubbox{
    width: 40%;
    object-fit: scale-down;
    padding:0px;
    margin:0px;
    font-size: 20px;
    vertical-align:middle;
    text-align: center;
}

.nav-link {
    color: #dddddd ;
    /* margin: 2px; */
    outline: 0;
    border-width: 0px 2px 0px 2px !important;
    border-color:#aaaaaa !important;
}
.nav-link:hover {
    color: #aaaaaa ;
    background-color: #0079fd55 !important;

}
.nav-link.active{
    font-weight: 600;
    color: #ffffff !important;
    background-color: #2369b5 !important;
    border : 1px solid #0057b5 !important;
}

.nav-link:focus{
    /* bor */
}
/* .nav-link */