@font-face {
    font-family: "NotoSansHans Light";
    src: url("fonts/NotoSansHans-Light-Alphabetic.woff2") format("woff");
}

@font-face {
    font-family: "Novecentosanswide Bold";
    src: url("fonts/Novecentosanswide-Bold-webfont.eot");
    src: 
    url("fonts/Novecentosanswide-Bold-webfont.woff") format("woff"),
    url("fonts/Novecentosanswide-Bold-webfont.otf") format("opentype"),
    url("fonts/Novecentosanswide-Bold-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "Novecentosanswide Normal";
    src: url("fonts/Novecentosanswide-Normal-webfont.eot");
    src: 
    url("fonts/Novecentosanswide-Normal-webfont.woff") format("woff"),
    url("fonts/Novecentosanswide-Normal-webfont.otf") format("opentype"),
    url("fonts/Novecentosanswide-Normal-webfont.svg#filename") format("svg");
}

body{
    background: #666666
}

.rarity-0{
    background: #00000044;
    border:1px solid #7fda56
}

.rarity-1{
    background: #00000044;
    border:1px solid #0079fd
}

.rarity-2{
    background: #00000044;
    border:1px solid #a136b2
}

.rarity-3{
    background: #00000044;
    border:1px solid #ff6d02;
}

.rarity-back-0{
    background:#7fda56;
    color:#000000;
}

.rarity-back-1{
    background:#0079fd;
    color:#000000;
}

.rarity-back-2{
    background:#a136b2;
    color:#000000;
}

.rarity-back-3{
    background:#ff6d02;
    color:#000000;
    
}

.shadow-thin{
    box-shadow: 1px 1px 10px #001144AA
}

.tenpull-container{
    background: #000000;
    display:inline-block;
    border:1px solid #ffffff;
    text-align: center;
    vertical-align:top;
    height:180px;
    width:100px;
    margin:3px;
}
.tenpull-number{
    display:inline-block;
    font-size: 30px;
    font-weight: bold;
}

.container{
    background: #000000AA;
    color:#DDDDDD;
}
.nav-tabs .nav-link{
    border-radius: 0px
}
.nav-link a{
    color:#DDDDDD
}
.nav-item{
    
}
